body {
	background-image: url("../imatges/fondo.jpg");
	text-align: justify;
}

.navbar{
	background-color: #003b6f;
}
.navbar-logo{
	height: 10%;
	width: 10%;
}

.cos {
	background-color: hsla(0, 0%, 100%, 0.6);
}
.table {
	background-color: #87CEEB;
	text-align: center;
}

.carousel-inner img {
	width: 100%;
}

button {
	float: right;
}


@media screen and (min-width: 991px){
	.table {
		width: 60%;
		text-align: center;
		margin-left: 20%;
	}
}